:root {
    --mainfont: Segoe UI;
    --gray: #333;
    --lightGray: #e0e2e4;
    --lighterGray: #f0f0f0;
    --blue: #345;
    --lightBlue: #4d6985;
}

* {
    font-family: var(--mainfont);
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section {
    width: 0.5fr;
    margin: auto;
    text-align: center;
    color: var(--gray);
    padding: 5% 0;
    margin: auto;
}

.history {
    text-align: left;
    font-style: italic;
}

#outputview {
    font-size: 1.5rem;
    width: 430px;
    background: none;
    padding: 25px 0;
    text-align: center;
    color: var(--gray);
    border: 2px solid var(--blue);
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
}

a {
    background: var(--blue);
    border: 1px solid var(--blue);
    margin: 8px 8px; 
    padding: 25px 0;
    text-align: center;
    color: white;
    
}

#clearHistory {
    background: var(--lighterGray);
    border: 1px solid var(--gray);
    border-radius: 1px;
    padding: 0.5rem 1rem;
    text-align: center;
    font-weight: bold;
    color: var(--gray);
}

#clearHistory:hover {
    cursor: pointer;
    background: var(--lightGray);
    border-radius: 1px;
}

#clearHistory:active {
    color: white;
    background: var(--blue);
    border-radius: 1px;
}

a:hover {
    background: var(--gray);
    border: 1px solid white;
    font-weight: bold;
}

a:active {
    background: var(--lightBlue);
}

.firstraw {
    display: grid;
    grid-template-columns: 225px 112px 112px;
}

.raw {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#error {
    color: red;
    text-align: left;
    font-style: italic;
    font-weight: 600;
    padding: 10px;
}