html {
    font-family: Segoe UI;
}

#outputview {
    font-size: 1.5rem;
    width: 430px;
    background: none;
    padding: 25px 0;
    text-align: center;
    color: #333;
    border: 2px solid #345;
    font-weight: bold;
    margin: auto;
    margin-top: 100px;
}

.calculator {
    width: 450px;
    margin: auto;
    margin-top: 10px;
}

a {
    background: #345;
    border: 1px solid #345;
    margin: 8px 8px; 
    padding: 25px 0;
    text-align: center;
    color: white;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

a:hover {
    background: #333;
    border: 1px solid white;
    font-weight: bold;
}

a:active {
    border: 1px solid white;
}

.firstraw {
    display: grid;
    grid-template-columns: 225px 112px 112px;
}

.raw {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}